<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>
  .background h1 {
    color:white;
  }
</style>
<div class="background landing-image">
  <div class="container pt-9 pb-8"> <!-- took out .floating-welcome class -->
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center ">
        <h1 id="main-text" class="display-4 mb-4">Fully customized platform for<br>business meetings online</h1>
        <p>Our Instant Online Meetings are an excellent way to connect<br>with clients during these challanging times</p>
      </div>
    </div>
    <div class="row joinbuttons">
      <div class="col-lg-6 text-right">
        <a href='https://instantonlinemeetings.com/b/signin'>Join Now</a>
      </div>
      <div class="col-lg-6 text-left">
        <a href='https://instantonlinemeetings.com/b/adm-afc-6v4'>Start Demo Meeting</a>
      </div>
    </div>
  </div>
  <div class='slider-footer'>
    <div class='blue-bar'>
      Launch complete customized virtual meeting rooms in days, not months.
    </div>
    <div class="container">
        <div class="row">
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/film.png">
            </div>
            <p>Video</p>
          </div>
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/headset.png">
            </div>
            <p>Voice</p>
          </div>
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/chat.png">
            </div>
            <p>Chat</p>
          </div>
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/file.png">
            </div>
            <p>Document Sharing</p>
          </div>
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/screen.png">
            </div>
            <p>Screen Sharing</p>
          </div>
          <div class="col-2">
            <div class='circle-border'>
              <img src="http://getvirtualclass.com/wp-content/uploads/2020/04/share-video.png">
            </div>
            <p>Session Recording</p>
          </div>
      </div>
    </div>
    <div class='blue-bar'>
      New Generation Tools for Online Collaboration
    </div>
   </div>
</div>

<%= render "main/components/features" %>

<div class='index-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-3 footer-contact'>
        <%= image_tag("logo.png", :alt => "logo") %>
        <div class='flex-bot'>
          <i class="icon-phone"></i><p>(949) 531-6098</p>
        </div>
        <div class='flex-bot'>
          <i class="icon-envelope"></i><p>sales@luminoustec.net</p>
        </div>
      </div>
      <div class='col-3 footer-contact'>
        <h4>Site Map</h4>
        <a href='#'>Home</a>
        <a href='#'>Features</a>
        <a href='#'>Contact</a>
        <a href='#'>Sign Up</a>
        <a href='#'>Instant Meeting</a>
      </div>
      <div class='col-6'>
        <h4>Find Us Here</h4>
        <img src='http://www.getvirtualclass.com/wp-content/uploads/2019/07/irvinemap.png'>
      </div>
    </div>
  </div>
</div>