<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>
  .background h1 {
    color:white;
  }
</style>
<div class="background landing-image">
  <div class="container pt-9 pb-8 floating-welcome">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center ">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
      </div>
    </div>
    <div class="row joinbuttons">
      <div class="col-lg-6 text-right">
        <a href='https://instantonlinemeetings.com/b/signin'>Join Now</a>
      </div>
      <div class="col-lg-6 text-left">
        <a href='https://instantonlinemeetings.com/b/adm-afc-6v4'>Start Demo Meeting</a>
      </div>
    </div>
  </div>
</div>

<%= render "main/components/features" %>

<div class='index-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-6'>
        <%= image_tag("logo.png", :alt => "logo") %>
        <br>
        <p>Instant Online Meetings is a powerful platform designed for you to host virtual meetings.</p>
      </div>
      <div class='col-6 text-center'>
        <i class="icon-phone"></i> (949) 531-6098
        <i class="icon-envelope"></i> sales@luminoustec.net
      </div>
    </div>
  </div>
</div>