<div class='contacts-page'>
	<div class='featured-image'>
		<h1>Contact</h1>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6 order-lg-1'>
				<h2>We are here to help you get connected</h2>
				<br>
				<div class='row'>
					<div class='col-md-6'>
						<a href='tel:949-531-6098'><i class="icon-phone"></i><h3>(949) 531-6098</h3></a>
					</div>
					<div class='col-md-6'>
						<a href='mailto:sales@luminoustec.net'><i class="icon-envelope"></i> <h3>sales@luminoustec.net</h3></a>
					</div>
					<br>
				</div>
			</div>
			<div class='col-lg-6 order-lg-2'>
				<%= image_tag("irvinemap-big.png", :alt => "map of address", :class => 'bigmap') %>
			</div>
		</div>
	</div>
</div>