<div class='index-footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				<%= image_tag("temp logo2-01", :alt => "logo") %>
			</div>
			<div class='col-6'>
				<p>Instant Online Meetings is a powerful platform designed for you to host virtual meetings.</p>
			</div>
		</div>
	</div>
</div>